<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <% if flash[:notice] %>
    <div id="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield :layout %>
  </body>  
</html>
